p{
    font-family: "Comic Sans MS", sans-serif;
}

body{
    background: #c163ff;
    display: flex;
    justify-content: center;
}

input {
    border: 3px solid #6a107a;
    border-radius: 25px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    padding-left: 2%;
    font-family: "Comic Sans MS";
}

button{
    color: #ffffff;
    background: #a33dfc;
    width: 180px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 25%;
    background: #fab552;
    text-align: center;
    border-radius: 25px;
    min-height: 350px;
}

.response{
    word-break:break-all;
    margin: 0 10%;
}

.error_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 25%;
    background: #f54272;
    text-align: center;
    border-radius: 25px;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #408ff7;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

.block, .error_1, .button_1, .field_1, .response{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}