<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Теория вероятности</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
    <body>
        <h1>Калькулятор</h1>
        <div class="content_1">
        <a class="block" href="/perestanovki/">
            <p>Перестановки</p>
        </a>
        <a class="block" href="/sochetaniay/">
            <p>Сочетания</p>
        </a>
        <a class="block" href="/razmeheniya/">
            <p>Размещения</p>
        </a>
    </div>
    </body>
</html>