<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/perestanovki_not_repeat.css">
    <title>Перестановки с повторениями</title>
</head>
<body>
    <a class="block" href="/">
        <p>На главную</p>
    </a>
    <div class="error_1">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
    <div class="content">
        <form action="" method="post">
            <div class="field_1">
                <label>
                    <p>Введите количество элементов для перестановки:</p>
                </label>
                <input type="text" class="text_2" name="k" value="">
            </div>
            <br>
            <div class="button_1">
                <button type="submit" class="button_1_1">
                    <div style="font-family: 'Comic Sans MS', sans-serif;">Запомнить</div>
                </button>
            </div>
            {% if k %}
                {% for i in range(k) %}
                    <div class="field_1">
                        <label>
                            <p>Введите количество повторений для {{ i+1 }} элемента:</p>
                        </label>
                        <input type="text" class="text_2" name="num" value="">
                    </div>
                    <br>
                {% endfor %}
                <div class="button_1">
                    <button type="submit" class="button_1_1">
                        <div style="font-family: 'Comic Sans MS', sans-serif;">Посчитать</div>
                    </button>
                </div>
            {% endif %}
        </form>
        <div class="response">
            {% if response %}
                <p>{{ response }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>